
.navbar{
    background-color: #071425; /* Background color */
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
    height: 80px;
    padding-right: 0
}
.navbar-nav a{
    color:#82b0f0
}
.navbar-nav a:hover{
    color: #ffffff ; /* Text color on hover */
}

.search-bar{
    background-color: #003366; /* Background color */
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
    height: 80px;
    align-content: center;
}

.main-article{
    background-color: #003366; /* Background color */
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
    height: 100px;
    align-content: center;
    color: #ffffff;
}

.arrow-button{
    background-color: #82b0f0;
    border: none; /* Remove border */
    padding: 20px;

}

.page-content{
    background-color: green;
}



