
.navbar{
    background-color: #071425; /* Background color */
    height: 60px;
}
.navbar-nav a{
    color:#82b0f0
}
.navbar-nav a:hover{
    color: #ffffff ; /* Text color on hover */
}

@media screen and (min-width: 992px){
    .page-content{
        min-width: 850px;
    }
}

@media screen and (max-width: 450px){
    body{
        max-width: 450px;
    }
    .head-article p{
        font-size: 12px;
    }
}


.navbar .search-bar{
    background-color: #092952; /* Background color */
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
}
.form-control{
    background-color: transparent;
    border: none;
    padding-left: 0;
}

.form-control::placeholder {
    color: white;
}
.form-control:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: white;
}
.form-control:focus::placeholder {
    color: white !important;
}

.offcanvas-body{
    background-color: #071425;
    padding-top: 0;
}

.dropdown-center{
    position: relative;
    background-color: #0d396f;

}

.dropdown-center .btn{
    background-color: #0d396f;
    color: #ffffff;
}

.dropdown-center .btn:focus{
    background-color: #d7eaff;
    color: #0d396f;
    border: none;
}
.dropdown-center .dropdown-menu a{
   
}

.dropdown-center .dropdown-menu a:hover{
    background-color: #d7eaff;
}

.head-article{
    background-color: #003366; /* Background color */
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
    align-content: center;
    color: #ffffff;
}

.arrow-button{
    background-color: #82b0f0;
    border: none; /* Remove border */
    padding: 20px;
}

.page-content{
    margin-top: 140px;
}

.central-zone .central-articles{
    margin-top: 220px;
}

.central-zone .container-fluid{
    min-width: 450px;
}

.main-article p{
    font-size:100px;
}

@media screen and (max-width: 992px){
    .main-article p{
        font-size: 75px;
    }
}

.central-zone .central-articles .left-articles{
    background-color: cyan;
}

.central-zone .central-articles .right-articles{
    background-color: violet;
}
.bottom-articles .minor-article{
    width: 185px;
}
.bottom-articles .middle-article{
    width: 368px;
}



p, a, span,header,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


